{% extends 'base.html' %}
{% block 'body' %}
<br>
<div class= "container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
         <h2>Delete Request</h2>
        </div>
        <div class="col-sm-8">
		<div class="card card-body">
			<p>Are you sure you want to delete?</p>
			{% if paymentitem %}
			<form action="{% url 'deletepaymentissue' item.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'paymentissueallstatus' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
			{% endif %}
			{% if useritem %}
			<form action="{% url 'delete_report_user' useritem.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'reportuserallstatus' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
			{% endif %}
			{% if contentitem %}
			<form action="{% url 'delete_report_content' contentitem.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'reportcontentallstatus' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}