{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{% static 'jszip.js' %}"></script>
    <script src="{% static 'fzz-loader.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fast-xml-parser/3.17.5/parser.js" integrity="sha512-+oa7q7U+mv1Z24WZgSomOxNIdfT9PeHi5CYrpQiqr1yU5c94QfcoiLVOqQheSpCknMO0kChujWBzfcXUk8dLhA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/txml@4.0.0/tXml.min.js" integrity="sha256-JVxBZ4O0VyKbBrtpGknLb74c7h/KaxSWs86afZhn1Ls=" crossorigin="anonymous"></script>
    <title>fritzing File</title>
</head>

<body>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
    <div class="container">
        <center>
            <div class="card">
                <h1>Select A fritzing File to view.</h1>
                <div class="card-body">
                    <input type="file" name="inputfile" id="inputfile">
                </div>
            </div>
        </center>
    </div>
    <script>
        class FZP {
            /**
             * FZP constructor has an opt argument object that can be used to setup data at the initialization.
             * @param {Object} opt
             */
            constructor(opt = {}) {
                /**
                 * The FZP module id
                 * @type {String}
                 */
                this.moduleId = opt.module || '';

                /**
                 * The FZP fritzing version
                 * @type {String}
                 */
                this.fritzingVersion = opt.fritzingVersion || '';

                /**
                 * The FZP version
                 * @type {String}
                 */
                this.version = opt.version || '0.0.0';

                /**
                 * The FZP title
                 * @type {String}
                 */
                this.title = opt.title || '';

                /**
                 * The FZP description
                 * @type {String}
                 */
                this.description = opt.description || '';

                /**
                 * The FZP author
                 * @type {String}
                 */
                this.author = opt.author || '';

                /**
                 * The FZP date
                 * @type {String}
                 */
                this.date = opt.date || '';

                /**
                 * The FZP url
                 * @type {String}
                 */
                this.url = opt.url || '';

                /**
                 * The FZP label
                 * @type {String}
                 */
                this.label = opt.label || '';

                /**
                 * The FZP tags
                 * @type {Array}
                 */
                this.tags = opt.tags || [];

                /**
                 * The FZP taxonomy
                 * @type {String}
                 */
                this.taxonomy = opt.taxonomy || '';

                /**
                 * The FZP language
                 * @type {String}
                 */
                this.language = opt.language || '';

                /**
                 * The FZP family
                 * @type {String}
                 */
                this.family = opt.family || '';

                /**
                 * The FZP variant
                 * @type {String}
                 */
                this.variant = opt.variant || '';

                /**
                 * The FZP properties
                 * @type {Object}
                 */
                this.properties = opt.properties || {};

                /**
                 * The FZP views (icon, breadboard, schematic, pcb)
                 * @type {Object}
                 */
                this.views = {
                    icon: new FZPView(),
                    schematic: new FZPView(),
                    breadboard: new FZPView(),
                    pcb: new FZPView(),
                };

                /**
                 * The FZP connectors
                 * @type {Object}
                 */
                this.connectors = opt.connectors || {};
                /**
                 * The FZP buses is a map with instances of the Bus class.
                 * @type {Object}
                 */
                this.buses = opt.buses || {};
            }

            /**
             * Get the total number of tags.
             * @return {Number}
             */
            totalTags() {
                return this.tags.length;
            }

            /**
             * Set a tag
             * @param {String} tag
             * @return {FZP}
             */
            setTag(tag) {
                this.tags.push(tag);
                return this;
            }

            /**
             * Get the total number of properties.
             * @return {Number}
             */
            totalProperties() {
                return Object.keys(this.properties).length;
            }

            /**
             * Create or update a FZPProperty instance to the FZP.
             * @param {String} key
             * @param {String} value
             * @param {Boolean} showInLabel
             * @return {FZP}
             */
            setProperty(key, value = null, showInLabel = false) {
                if (!key) {
                    throw new Error('Missing first argument at function');
                }
                this.properties[key] = new FZPProperty();
                this.properties[key].set(value, showInLabel);
                return this;
            }

            /**
             * Get a FZP property by the given key.
             * @param {String} key
             * @return {FZPProperty}
             */
            getProperty(key) {
                if (!key) {
                    throw new Error('Missing first argument at function', key);
                }
                return this.properties[key];
            }

            /**
             * Set a view
             * @param {String} name The name of the view can be 'breadboard', 'pcb', or 'schematic'
             * @param {FZPView} view
             * @return {FZP}
             */
            setView(name, view) {
                console.log('not jet implemented', name, view);
                return this;
            }


            /**
             * Get the total number of connector.
             * @return {Number}
             */
            totalConnector() {
                return Object.keys(this.connectors).length;
            }

            /**
             * setConnector
             * @param {String} name
             * @param {FZPConnector} connector
             * @return {FZP}
             */
            setConnector(name, connector) {
                console.log('not jet implemented', name, connector);
                return this;
            }

            /**
             * Get the total number of buses.
             * @return {Number}
             */
            totalBuses() {
                return Object.keys(this.buses).length;
            }

            /**
             * setBus
             * @param {String} name
             * @param {FZPBus} bus
             * @return {FZP}
             */
            setBus(name, bus) {
                console.log('not jet implemented', name, bus);
                return this;
            }

            /**
             * Load all SVG sources.
             * @param {String} baseurl
             * @return {FZP}
             */
            loadSVGs(baseurl) {
                return this.views.breadboard.loadSVG(baseurl)
                    .then(() => {
                        return this.views.schematic.loadSVG(baseurl)
                            .then(() => {
                                return this.views.pcb.loadSVG(baseurl)
                                    .then(() => {
                                        return this;
                                    });
                            });
                    });
            }
        }
        /**
         * FZPView class is used by the fzp breadboard, pcb and schematics view.
         *
         * @example
         * const {FZPView} = require('fzp-js')
         *
         * let view = new FZPView()
         */
        class FZPView {
            /**
             * FZPView constructor
             * @param {String} image
             * @param {Array} ids
             * @param {Boolean} flipH
             * @param {Boolean} flipV
             * @param {String} svg The raw svg string
             */
            constructor(image, ids, flipH, flipV, svg) {
                /**
                 * The FZPView image
                 * @type {String}
                 */
                this.image = image || null;

                /**
                 * The FZPView layer id's
                 * @type {Array}
                 */
                this.layerIds = ids || [];

                /**
                 * FZPView flip horizontal
                 * @type {Boolean}
                 */
                this.flipHorizontal = (flipH == 'true') || (flipH == true) || false;


                /**
                 * FZPView flip vertical
                 * @type {Boolean}
                 */
                this.flipVertical = (flipV == 'true') || (flipV == true) || false;

                /**
                 * The FZPView svg data
                 * @type {String}
                 */
                this.svg = svg || null;
            }

            /**
             * Set the FZPView image source
             * @param {String} src The image source
             * @return {FZPView}
             */
            setImage(src) {
                this.image = src;
                return this;
            }

            /**
             * Get the total number of FZPView layer id's
             * @return {Number}
             */
            totalLayerId() {
                return this.layerIds.length;
            }

            /**
             * Add a layer id to the FZPView
             * @param {String} name The layer name
             * @return {FZPView}
             */
            setLayerId(name) {
                if (!this.existLayerId(name)) {
                    this.layerIds.push(name);
                }
                return this;
            }

            /**
             * Check if a layer id exist at the FZPView layerIds array
             * @param {String} id
             * @return {Boolean}
             */
            existLayerId(id) {
                for (let i = 0; i < this.layerIds.length; i++) {
                    if (this.layerIds[i] === id) {
                        return true;
                    }
                }
                return false;
            }

            /**
             * Set the svg data
             * @param {String} data The SVG data
             * @return {FZPView}
             */
            setSVG(data) {
                this.svg = data;
                return this;
            }

            /**
             * load the svg of the image path from the fritzing-parts api
             * @param {String} baseurl the url to the fritzing-parts/core directory
             * @return {Promise}
             */
            loadSVG(baseurl) {
                let self = this;
                return axios.get(baseurl + this.image, {
                        responseType: 'xml'
                    })
                    .then((res) => {
                        self.setSVG(res.data);
                        console.log(res.data);
                        return res.data;

                    });
            }
        }
        /**
         * FZPConnector class
         *
         * @example
         * const {FZPConnector} = require('fzp-js')
         *
         * let connector = new FZPConnector({id: 'sample-id', name: 'sample-name'})
         * connector.type = 'sample-type'
         * connector.description = 'sample-description'
         * connector.views.breadboard.setLayer('sample-b-layer')
         * connector.views.breadboard.setSvgId('sample-b-svg')
         * connector.views.breadboard.setLegId('sample-b-leg')
         * connector.views.breadboard.setTerminalId('sample-b-terminal')
         */
        class FZPConnector {
            /**
             * FZPConnector constructor
             * @param {Object} opt - the options
             */
            constructor(opt = {
                views: {
                    pcb: {}
                }
            }) {
                /**
                 * The id of the FZP connector.
                 * @type {String}
                 */
                this.id = opt.id || null;

                /**
                 * The name of the FZP connector.
                 * @type {String}
                 */
                this.name = opt.name || null;

                /**
                 * The type of the FZP connector
                 * @type {String}
                 */
                this.type = opt.type || null;

                /**
                 * The description of the FZP connector
                 * @type {String}
                 */
                this.description = opt.description || null;

                /**
                 * The FZP connector views for breadboard, schematic and pcb.
                 * Note that the pcb view has an object for copper0, copper1 etc.
                 */
                this.views = {
                    breadboard: new FZPConnectorView(opt.views.breadboard),
                    schematic: new FZPConnectorView(opt.views.schematic),
                    pcb: {
                        copper0: new FZPConnectorView(opt.views.pcb.copper0),
                        copper1: new FZPConnectorView(opt.views.pcb.copper1),
                    },
                };
            }
        }
        /**
         * FZPConnectorView class
         *
         * @example
         * const {FZPConnectorView} = require('fzp-js')
         *
         * let connectorView = new FZPConnectorView({layer: 'sample', svgId: 'sample.svg'})
         * connectorView.legId = 'sample-leg'
         * connectorView.terminalId = 'sample-terminal'
         */
        class FZPConnectorView {
            /**
             * FZPConnectorView constructor
             * @param {Object} opt
             */
            constructor(opt = {}) {
                /**
                 * the FZP connector view layer
                 * @type {String}
                 */
                this.layer = opt.layer || null;

                /**
                 * the FZP connector view svg
                 * @type {String}
                 */
                this.svgId = opt.svgId || null;

                /**
                 * the FZP connector view leg
                 * @type {String}
                 */
                this.legId = opt.legId || null;

                /**
                 * the FZP connector view terminal
                 * @type {String}
                 */
                this.terminalId = opt.terminalId || null;
            }

            /**
             * @param {String} l
             */
            setLayer(l) {
                this.layer = l;
            }

            /**
             * @return {String}
             */
            getLayer() {
                return this.layer;
            }

            /**
             * @param {String} id
             */
            setSvgId(id) {
                this.svgId = id;
            }

            /**
             * @return {String}
             */
            getSvgId() {
                return this.svgId;
            }

            /**
             * @param {String} leg
             */
            setLegId(leg) {
                this.legId = leg;
            }

            /**
             * @return {String}
             */
            getLegId() {
                return this.legId;
            }

            /**
             * @param {String} term
             */
            setTerminalId(term) {
                this.terminalId = term;
            }

            /**
             * @return {String}
             */
            getTerminalId() {
                return this.terminalId;
            }
        }
        /**
         * FZPProperty class
         *
         * @example
         * const {FZPProperty} = require('fzp-js')
         *
         * let property = new FZPProperty()
         */
        class FZPProperty {
            /**
             * FZPProperty constructor
             */
            constructor() {
                /**
                 * the property value
                 * @type {String}
                 */
                this.value = null;

                /**
                 * the property showInLabel
                 * @type {Boolean}
                 */
                this.showInLabel = false;
            }

            /**
             * @param {Object|String} v
             * @param {Boolean} s
             */
            set(v = null, s = false) {
                    // let tmp = {value: v, showInLabel: s};
                    if (v) {
                        switch (typeof v) {
                            case 'object':
                                this.setValue(v.value);
                                this.setShowInLabel(v.showInLabel);
                                break;
                            case 'string':
                                this.setValue(v);
                                break;
                            default:
                                throw new Error(`FZPProperty type('${typeof v}') not supported`);
                        }
                    }
                    if (s) {
                        this.setShowInLabel(s);
                    }
                }
                /**
                 * Set the FZProperty  value
                 * @param {String} val
                 */
            setValue(val) {
                this.value = val;
            }

            /**
             * Get the FZProperty  value
             * @return {String}
             */
            getValue() {
                return this.value;
            }

            /**
             * Set the FZProperty showInLabel boolean
             * @param {Boolean} l
             */
            setShowInLabel(l) {
                this.showInLabel = l || false;
            }

            /**
             * Get the FZProperty showInLabel boolean
             * @return {Boolean}
             */
            getShowInLabel() {
                return this.showInLabel;
            }
        }

        function parseFZP(data) {
            //return new Promise(function (resolve, reject) {
            let fzp = new FZP();

            if (data) {
                var options = {
                    ignoreAttributes: false,
                    ignoreNameSpace: false,
                    attributeNamePrefix: "",
                    textNodeName: "_",

                };
                var xml = parser.parse(data, options);
                /* parseXml(data, options, (err, xml) => {
                    if (err) {
                        return reject(err);
                    } */
                if (xml) {
                    console.log(xml);
                    console.log(xml.module.tags);
                    fzp.moduleId = xml.module.moduleId;
                    fzp.fritzingVersion = xml.module.fritzingVersion;
                    if (xml.module.version) fzp.version = xml.module.version;
                    if (xml.module.title) fzp.title = xml.module.title;
                    if (xml.module.description) fzp.description = xml.module.description;
                    if (xml.module.author) fzp.author = xml.module.author;
                    if (xml.module.date) fzp.date = xml.module.date;
                    if (xml.module.url) fzp.url = xml.module.url;
                    if (xml.module.label) fzp.label = xml.module.label;
                    if (xml.module.tags) fzp.tags = xml.module.tags.tag[0];
                    if (xml.module.taxonomy) fzp.taxonomy = xml.module.taxonomy;
                    if (xml.module.language) fzp.language = xml.module.language;
                    if (xml.module.family) fzp.family = xml.module.family;
                    if (xml.module.variant) fzp.variant = xml.module.variant;
                    if (xml.module.properties) {
                        fzp.properties = parseProperties(xml.module.properties.property);
                    }

                    if (xml.module.views) {
                        if (xml.module.views.iconView) {
                            const iconViewLayer = xml.module.views.iconView.layers;
                            fzp.views.icon.setImage(iconViewLayer.image);
                            fzp.views.icon.setLayerId(iconViewLayer.layer.layerId);
                        }
                        if (xml.module.views.breadboardView) {
                            const breadboardLayer = xml.module.views.breadboardView.layers;
                            fzp.views.breadboard.setImage(breadboardLayer.image);
                            fzp.views.breadboard.setLayerId(breadboardLayer.layer.layerId);
                        }
                        if (xml.module.views.pcbView) {
                            const pcbViewLayer = xml.module.views.pcbView.layers;
                            fzp.views.pcb.setImage(pcbViewLayer.image);
                            for (let iLayer = 0; iLayer < pcbViewLayer.layer.length; iLayer++) {
                                fzp.views.pcb.setLayerId(pcbViewLayer.layer[iLayer].layerId);
                            }
                        }
                        if (xml.module.views.schematicView) {
                            const schematicViewLayer = xml.module.views.schematicView.layers;
                            fzp.views.schematic.setImage(schematicViewLayer.image);
                            fzp.views.schematic.setLayerId(schematicViewLayer.layer.layerId);
                        }
                    }

                    if (xml.module.connectors) {
                        if (xml.module.connectors.connector) {
                            for (let i = 0; i < xml.module.connectors.connector.length; i++) {
                                const connector = xml.module.connectors.connector[i];

                                // create the connector for the three views.
                                let c = new FZPConnector();
                                c.id = connector.id;
                                c.name = connector.name;
                                c.type = connector.type;
                                if (connector.description) {
                                    c.description = connector.description;
                                }

                                if (connector.views.breadboardView) {
                                    c.views.breadboard = parseConnectorView(connector.views.breadboardView.p);
                                }

                                if (connector.views.schematicView) {
                                    c.views.schematic = parseConnectorView(connector.views.schematicView.p);
                                }

                                if (connector.views.pcbView) {
                                    for (let iPcb = 0; iPcb < connector.views.pcbView.p.length; iPcb++) {
                                        switch (connector.views.pcbView.p[iPcb].layer) {
                                            case 'copper0':
                                                c.views.pcb.copper0 = parseConnectorView(connector.views.pcbView.p[iPcb]);
                                                break;
                                            case 'copper1':
                                                c.views.pcb.copper1 = parseConnectorView(connector.views.pcbView.p[iPcb]);
                                                break;
                                        }
                                    }
                                }

                                fzp.connectors[c.id] = c;
                            }
                        }
                    }

                    //let url = 'https://fritzing.github.io/fritzing-parts';
                    //return fzp.loadSVGs(`${url}/svg/core/`).then(() => {
                    return fzp;
                    console.log(fzp);
                    //  });
                }
            }
            //});
        }
        /**
         * Get the parsed xml object and map to a proper structure
         * @param {String} xml
         * @return {Object}
         */
        function parseProperties(xml) {
            let data = {};
            // if (xml) {
            //   if (xml.length > 0) {
            for (let i = 0; i < xml.length; i++) {
                data[xml[i].name] = {
                    value: xml[i]._,
                    showInLabel: xml[i].name,
                };
            }
            //   }
            // }
            return data;
        }

        /**
         * @param {Object} xml
         * @return {FZPConnectorView}
         */
        function parseConnectorView(xml) {
            let conView = new FZPConnectorView();
            conView.layer = xml.layer || null;
            conView.svgId = xml.svgId || null;
            conView.legId = xml.legId || null;
            conView.terminalId = xml.terminalId || null;
            return conView;
        }
    </script>
    <script>
        document.getElementById('inputfile').addEventListener('change', function() {
            var array = new FileReader();
            array.onload = function() {
                var data = array.result;
                console.log(data)
                readFZZ(null, data, (fzz) => {
                    console.log("FZZ", fzz);
                    console.log("End of fzz")
                });
            }
            array.readAsArrayBuffer(this.files[0]);
        });

        function readFZZ(url, data, cb) {
            let tmpFZZ = new FZZ();
            tmpFZZ.uri = url;
            // cb(tmpFZZ)
            let Zip = new JSZip();
            Zip.loadAsync(data).then((zip) => {
                tmpFZZ.zip = zip;
                // console.log('ZIP', zip);
                // console.log('FZZ Files:', zip.files);

                let totalFiles = Object.keys(zip.files).length;
                // console.log('TOTAL FILES', totalFiles);
                // let counter = 0;
                console.log(zip);
                for (var filename in zip.files) {
                    if (zip.files.hasOwnProperty(filename)) {
                        // add each filename to the files array...
                        tmpFZZ.files.push(filename);

                        // check the file extension
                        let ext = filename.split('.').pop();
                        // console.log(counter, 'FILENAME', filename, ext);

                        switch (ext) {
                            case 'fz':
                                //console.log('fz data');
                                tmpFZZ.fz.filename = filename;
                                //console.log(zip.files[filename]._data);
                                zip.file(filename).async('string').then(function success(text) {
                                    var data = parseFZ(filename, text);
                                    console.log('End')
                                    tmpFZZ.fz = data;

                                    //         //   // }
                                });
                                //
                                break;
                                //
                            case 'fzp':
                                zip.file(filename).async('string').then(function success(text) {
                                    var data = parseFZP(text);
                                    console.log(data);
                                });
                                console.log('FZP', filename);
                                //break;

                            case 'svg':
                                // TODO: loadsvg
                                console.log('SVG', filename);
                                var svG = [];
                                zip.file(filename).async('string').then(function success(text) {
                                    svG.push(text);

                                });
                                console.log("Svg", svG);

                                break;

                            case 'ino':
                                console.log('CODE', filename);
                                //         // zip.file(filename).async('string').then(function success(text) {
                                //         // //   counter++;
                                //         // //   // console.log(counter);
                                //         //   tmpFZZ.code.addSource(filename, text);
                                //         // //   // if (counter === totalFiles) {
                                //         // //   //   cb(tmpFZZ);
                                //         // //   // }
                                //         // });
                                break;

                            default:
                                throw new Error('filetype not supported');
                        }
                    }
                } // end for
                console.log(tmpFZZ);
                //cb(tmpFZZ);
            }).catch((e) => {
                throw e;
            });
        }
    </script>

</body>

</html>