{% extends 'base.html' %}
{% block 'body' %}
{% load crispy_forms_tags %}
<div class= "container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Support</h2>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link " href="{% url 'index' %}">Get help Piblitz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'payment' %}">Payment Issues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'report' %}">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'status' %}">Status</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <div class="Subhead hx_Subhead--responsive ">
        <h3 class="Subhead-heading ">
          Payment Issue
    </h3></div>
      <form enctype="multipart/form-data" action="" method = "POST" id= "form1" class = "form-bodered">
        {% csrf_token %}
        {% if requestform.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {% for err in requestform.non_field_errors %}
            <p class="form-error">{{ err }}</p>  
          {% endfor %}
          </div>
        {% endif %}
        {% for field in requestform %}
        <div class=" form-group col-sm-6">
        {{ field.errors|as_crispy_errors }}
        {{ field|as_crispy_field }}
        </div>
        {% endfor %}
        {{ requestform.media.css}}
        {{ requestform.media.js}}
        <style>
          .intl-tel-input {
            display :block;
          }
        </style>
        <button type="submit" form = "form1" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
