{% extends 'base.html' %}
{% block 'body' %}
{% load widget_tweaks %}

<div class= "container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Support</h2>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">Get help Piblitz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'payment' %}">Payment Issues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'report' %}">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Copy Right</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
     <p> 
      Piblitz Support is committed to providing you with best-in-class service through its experienced technical support team. They are equipped to assist you through email, ensuring to offer effective solutions to your queries with utmost promptness and efficiency.
     </p>
    </div>
  </div>
</div>
</div>
{% endblock %}
